menu "ESP File System journaling"

    config ESP_JRNL_ENABLE_TESTMODE
        bool "Enable built-in test configurations"
        default n
        help
            Enable deplopyment of built-in test configuration for test_apps

    config ESP_JRNL_DEBUG_PRINT
        bool "Enable debug printouts"
        default n
        help
            Enable debug printouts. Useful for 'jrnl_master' contents check

endmenu # esp_jrnl
