# use custom partition table
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

#use Unity fixtures
CONFIG_UNITY_ENABLE_FIXTURE=y

#enable ESP FS journal test mode
CONFIG_ESP_JRNL_ENABLE_TESTMODE=y
CONFIG_ESP_JRNL_DEBUG_PRINT=n

#no WDT reset
CONFIG_ESP_TASK_WDT_INIT=n
